
  <div class="container">
    <div class="row">
      <h1 class="col-sm-12">Авторизация</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <form role="form" action="" method="post">

              <div class="form-group">
                <img src="<%= captcha_img %>" height="200" width="300"/>
                <input type="text" class="form-control input-lg" minlength="5" name="captcha" placeholder="Введите captcha">
              </div>
              <button type="submit" class="btn btn-success btn-lg">Войти</button>
        </form>
      </div>
    </div>
  </div>
